# OS junk
.DS_Store

# Python artifacts
__pycache__/
*.py[cod]
*.so
.venv/
.env

# Build / cache
*.egg-info/
*.log
*.sqlite
*.db
*.tar
*.gz

# Docker-specific
.dockerignore

# Git and VCS
.git/
.gitignore

# IDE/editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node and JS
node_modules/
npm-debug.log

# Optional: if not needed inside container
charts/
secrets.dev.yaml
values.dev.yaml

# Coverage and test output
coverage/
htmlcov/
*.cover
*.coverage
.cache/

# Project metadata (optional to ignore)
LICENSE
README.md
